<#include "../inc.html"/> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${system_info.name}</title>
<script>
 var authcode="${(authcode!'')}";
</script>
<link rel="stylesheet" type="text/css" href="web/css/public.css" />
<link rel="stylesheet" type="text/css" href="web/css/create_project.css" />
<link href="web/css/smart_wizard.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="web/css/style.css" />
<link rel="stylesheet" type="text/css" href="web/swfupload/Script/uploadify.css" />
<link rel="stylesheet" type="text/css" href="web/js/fancybox/jquery.fancybox.css" />
<script type="text/javascript" src="web/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="web/swfupload/Script/jquery.uploadify.js"></script>
<script type="text/javascript" src="web/js/jquery.smartWizard-2.0.min.js"></script>
<script src="web/js/jquery/jquery.metadata.js" type="text/javascript"></script>
<script src="web/js/jquery/jquery.validate.js" type="text/javascript"></script>
<script src="web/js/jquery/jquery.validate.methods.js" type="text/javascript"></script>
<script src="web/js/main.js" type="text/javascript"></script>
</head>
<script>
	var deputyItemGradeDefault="${(deputyItemGard!'')}";
//封装页面数据
function _page_next(){
	var gard =$("#deputyItemGrade").val();
	var deputyItemId=$("#deputyItemId").val();
	$.ajax({
		  url: "getApplyId.do",
		  type: "POST",
		  data: {deputyItemGard:gard,deputyItemId:deputyItemId},
		  success: function(data){
			 if(data.message =1){
				   $(data.data).each(function(i,per){
				   $("#applyId").val(per.APPLY_ID)
			  });
			 }else {
				 alert(data.message);
			 }
		  }
		});
	//申报书
	if(pageNo ==2){
		_getShenbaoshu();
	}
	//申报片
	if(pageNo ==3){
		_getShenbaopian();
	}
	//照片
	if(pageNo ==4){
		_getZhaopian();
	}
	//其他
	if(pageNo ==5){
		_getQita();
	}
}
//验证输入框必填
function validateValue(){
		 if(!$("#names").valid()){
        		return false;
        	}
        	if(!$("#deputyItemType").valid()){
        		return false;
        	}
        	if(!$("#deputyItemGrade").valid()){
        		return false;
        	}
        	if(!$("#deputyItemNumber").valid()){
        		return false;
        	}
        	if(!$("#declarationBatch").valid()){
        		return false;
        	}
        	if(!$("#itemAddress").valid()){
        		return false;
        	}
        	if(!$("#protectionUnit").valid()){
        		return false;
        	}
		};


//ajax获取申报书的数据
 function _getShenbaoshu(){
	var gard =$("#deputyItemGrade").val();
	var deputyItemId=$("#deputyItemId").val();
	$.ajax({
		  url: "getDataByGard.do",
		  type: "POST",
		  data: {type:"doc",deputyItemGard:gard,deputyItemId:deputyItemId},
		  success: function(data){
			 if(data.message =1){
				 $(".cs1").html("");
				   $(data.data).each(function(i,per){
			    var html = "";
			        html += '<tr class="cs1">'+
						        '<td>'+per.FILE_NAME+'</td>'+
						        '<td>'+per.FILE_NAME+'</td>'+
						        '<td>上传成功</td>'+
						        '<input type="hidden" name="fileNames" value="'+per.FILE_NAME+'"/>'+
						        '<input type="hidden" name="fileId" value="'+per.FILE_ID+'"/>'+
						        '<input type="hidden" name="fileUrls" value="'+per.FILE_URL+'"/>'+
						        '<input type="hidden" name="types" value=doc />'+
			        			'<td class="cs2">'+
			        				'<a class="shanchu_2" title="删除" href="#" ></a></td>'+
			        		 '</tr>';
			        $("#tab_a").append(html);
			  });
			 }else {
				 alert(data.message);
			 }
		  }
		});
 }
//ajax获取申报片的数据
 function _getShenbaopian(){
	var gard =$("#deputyItemGrade").val();
	var deputyItemId=$("#deputyItemId").val();
	$.ajax({
		  url: "getDataByGard.do",
		  type: "POST",
		  data: {type:"video",deputyItemGard:gard,deputyItemId:deputyItemId},
		  success: function(data){
			 if(data.message =1){
				 $(".csV1").html("");
				   $(data.data).each(function(i,per){
			     var html = "";
			        html += '<tr class="csV1">'+
						        '<td>'+per.FILE_NAME+'</td>'+
						        '<td>'+per.FILE_NAME+'</td>'+
						        '<td>上传成功</td>'+
						        '<input type="hidden" name="fileVideoNames" value="'+per.FILE_NAME+'"/>'+
						        '<input type="hidden" name="fileId" value="'+per.FILE_ID+'"/>'+
						        '<input type="hidden" name="fileUrlVideos" value="'+per.FILE_URL+'"/>'+
						        '<input type="hidden" name="typeVideos" value=video />'+
			        			'<td class="csV2">'+
			        				'<a class="shanchu_2 shanchu_V" title="删除" href="#" ></a></td>'+
			        		 '</tr>';
			        $(".tab_aV").append(html);
			  });
			 }else {
				 alert(data.message);
			 }
		  }
		});
 }
//ajax获取照片的数据
 function _getZhaopian(){
	var gard =$("#deputyItemGrade").val();
	var deputyItemId=$("#deputyItemId").val();
	$.ajax({
		  url: "getDataByGard.do",
		  type: "POST",
		  data: {type:"img",deputyItemGard:gard,deputyItemId:deputyItemId},
		  success: function(data){
			 if(data.message =1){
				 $(".csI1").html("");
				   $(data.data).each(function(i,per){
			     var html = "";
			        html += '<tr class="csI1">'+
						        '<td>'+per.FILE_NAME+'</td>'+
						        '<td>'+per.FILE_NAME+'</td>'+
						        '<td>上传成功</td>'+
						        '<input type="hidden" name="fileImgNames" value="'+per.FILE_NAME+'"/>'+
						        '<input type="hidden" name="fileId" value="'+per.FILE_ID+'"/>'+
						        '<input type="hidden" name="fileUrlImgs" value="'+per.FILE_URL+'"/>'+
						        '<input type="hidden" name="typeImgs" value=img />'+
			        			'<td class="csI2">'+
			        				'<a class="shanchu_2 shanchu_I" title="删除" href="#" ></a></td>'+
			        		 '</tr>';
			        $(".tab_aI").append(html);
			  });
			 }else {
				 alert(data.message);
			 }
		  }
		});
 }
//ajax获取其他的数据
 function _getQita(){
	var gard =$("#deputyItemGrade").val();
	var deputyItemId=$("#deputyItemId").val();
	$.ajax({
		  url: "getDataByGard.do",
		  type: "POST",
		  data: {type:"other",deputyItemGard:gard,deputyItemId:deputyItemId},
		  success: function(data){
			 if(data.message =1){
				 $(".csO1").html("");
				   $(data.data).each(function(i,per){
					var html = "";
				        html += '<tr class="csO1">'+
							        '<td>'+per.FILE_NAME+'</td>'+
							        '<td>'+per.FILE_NAME+'</td>'+
							        '<td>上传成功</td>'+
							        '<input type="hidden" name="fileOtherNames" value="'+per.FILE_NAME+'"/>'+
							        '<input type="hidden" name="fileId" value="'+per.FILE_ID+'"/>'+
							        '<input type="hidden" name="fileUrlOthers" value="'+per.FILE_URL+'"/>'+
							        '<input type="hidden" name="typeOthers" value=other />'+
				        			'<td class="csO2">'+
				        				'<a class="shanchu_2 shanchu_O" title="删除" href="#" ></a></td>'+
				        		 '</tr>';
				        $(".tab_aO").append(html);
			  });
			 }else {
				 alert(data.message);
			 }
		  }
		});
 }

$(function(){
	
	//申报书
	$(".shanchu_2").live('click',function(){
		$(this).parent(".cs2").parent(".cs1").fadeOut('slow',function(){
    	$(this).remove();
    	});
	});
	//申报片
	$(".shanchu_V").live('click',function(){
		$(this).parent(".csV2").parent(".csV1").fadeOut('slow',function(){
    	$(this).remove();
    	});
	});
	
	//申报照片
	$(".shanchu_I").live('click',function(){
		$(this).parent(".csI2").parent(".csI1").fadeOut('slow',function(){
    	$(this).remove();
    	});
	});
	
	//其他
	$(".shanchu_O").live('click',function(){
		$(this).parent(".csO2").parent(".csO1").fadeOut('slow',function(){
    	$(this).remove();
    	});
	});
})
</script>
<body>
	<!--头部-->
	<#include "../top.html"/><!--头部END-->
    <!--主体-->
    <div class="main">
    	<!--搜索框-->
    	<#include "../search.html"/><!--搜索框结束-->
        <!--当前位置-->
     <div class="weizhi mt30 w ">
        	当前位置：<a href="center.do">首页</a>&gt;<span>修改项目</span>
        </div><!--当前位置-->
        <!--新建项目-->
        <div class="create tc">修改项目
        </div>
        <div class="mainbody mb100 w ">
        <form id="validateForm" action="updateDeputyItem.do" method="post">
         <input type="hidden" name="businessType" value=deputy />
    	    <!--tab-->
       		<div id="wizard2" class="swMain">
  			<ul>
            	 <!--切换标签1-->
  				<li><a href="#step-1">
                <span class="stepNumber">1</span>
                <span class="stepDesc" id="jibenziliao">
                   基本资料<br />
                   <small>Step 1 description</small>
                </span>
            </a></li> <!--切换标签1-END-->
            	 <!--切换标签2-->
  				<li><a href="#step-2">
                <span class="stepNumber">2</span>
                <span class="stepDesc" id="shenbaoshu">
                   申报书<br />
                   <small>Step 2 description</small>
                </span>
            </a></li> <!--切换标签2-end-->
            	 <!--切换标签3-->
  				<li><a href="#step-3">
                <span class="stepNumber">3</span>
                <span class="stepDesc" id="shenbaopian">
                   申报片<br />
                   <small>Step 3 description</small>
                </span>                   
             </a></li> <!--切换标签3-end-->
             	 <!--切换标签4-->
  				<li><a href="#step-4">
                <span class="stepNumber">4</span>
                <span class="stepDesc" id="zhaopian">
                   照片<br />
                   <small>Step 4 description</small>
                </span>                   
            </a></li> <!--切换标签4-end-->
            	 <!--切换标签5-->
            <li><a href="#step-5">
                <span class="stepNumber">5</span>
                <span class="stepDesc" id="qita">
                  其他<br />
                   <small>Step 5 description</small>
                </span>                   
            </a></li> <!--切换标签5-end-->
  			</ul>
            
            <!--页卡1-->
  			<div id="step-1">	
  			
            	<div class="main_xx">
            	<@my.list id="item" hql="from DeputyItem s where s.deputyItemId ='${(deputyItemId!'')}'">
                       
                       <@my.list id="applyId" sql ="select * from item_apply s where s.APPLY_GARD =${(deputyItemGard)!''} AND s.DEPUTY_ITEM_ID=${(deputyItemId)!''}">
                       <input id="applyId" name="applyId" type="hidden" value="${applyId.APPLY_ID}">
                       </@my.list>
                        <ul>
                            <input type="hidden" id="deputyItemId" name="deputyItemId" value="${(item.deputyItemId!'')}">
                            <li><span>项目名称：</span><input id="names" maxlength="50" name="deputyItemName" type="text" value="${(item.deputyItemName)}"  /></li>
                            <li><span>项目类型：</span>
                                    <select id="deputyItemType" name="deputyItemType" style=" width:422px;"  onchange="_select(this)" >
                                    			<@my.list id="data" hql="from DataDict s where s.type ='ITEM_TYPE' and s.code='${(item.deputyItemType!'')}'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                </@my.list>
                                                  <@my.list id="data" hql="from DataDict s where s.type ='ITEM_TYPE'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                  </@my.list>
                                            </select></li>
                            <li><span>项目等级：</span>
                                    <select id="deputyItemGrade" name="deputyItemGrade" style=" width:422px;">
                                                <@my.list id="data" hql="from DataDict s where s.type ='GARD' and s.code>='${(item.deputyItemGrade!'')}'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                </@my.list>
                                          </select></li>
                            <li><span>项目编号：</span>
                                     <select class="list_a" name="deputyItemNo"  >
                                                <option value="${(item.deputyItemNo!'')}">${(item.deputyItemNo!'')}</option>
                                                <option value="I-">I-</option>
                                                <option value="II-">II-</option>
                                                <option value="III-">III-</option>
                                                <option value="IV-">IV-</option>
                                                <option value="V-">V-</option>
                                                <option value="VI-">VI-</option>
                                                <option value="VII-">VII-</option>
                                                <option value="VIII-">VIII-</option>
                                                <option value="IX-">IX-</option>
                                                <option value="X-">X-</option>
                                      </select>
                                  <input class="list_b" id="deputyItemNumber" maxlength="50"  name="deputyItemNumber" type="text" value="${(item.deputyItemNumber!'')}" /></li>
                            <li><span>申报批次：</span>	
                                     <select id="declarationBatch" name="declarationBatch" style=" width:422px;"  >
                                              <@my.list id="data" hql="from DataDict s where s.type ='BATCH' and s.code ='${(item.declarationBatch!'')}'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                </@my.list>
                                                 <@my.list id="data" hql="from DataDict s where s.type ='BATCH'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                </@my.list>
                                          </select></li>
                            <li><span>所在地：</span>
                                    <select id="itemAddress" name="itemAddress" style=" width:422px;"  >
                                                 <@my.list id="data" hql="from DataDict s where s.type ='AREA' and s.code ='${(item.itemAddress!'')}'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                </@my.list>
                                                <@my.list id="data" hql="from DataDict s where s.type ='AREA'">
                                                  	<option value="${(data.code)!''}">${(data.name)!''}</option>
                                                </@my.list>
                                          </select></li>
                            <li><span>保护单位：</span><input id="protectionUnit" name="protectionUnit"  maxlength="100"  type="text" value="${(item.protectionUnit!'')}" /></li>
                            <li><span>项目简介：</span><textarea name="remark" id="remark"
                             cols="" rows="">${(item.remark!'')}</textarea></li>
                        </ul>
                      </div>
                      </@my.list>
        </div><!--页卡1-end-->
        
        	<!--页卡2-->
  			<div id="step-2">
           <div class="main_page2" > 		
                          <ul>
                          <input type="file" class="cre_input" id="uploadifyfile_icon" name="uploadifyfile_icon"  value="开始上传"/>
                   			<script type="text/javascript" src="web/js/filesUpload/doc.js"></script>
                               <div  id="doc" style="width: 100px;height: 30px;margin-top: -30px;margin-left: 100px; display: none">
		                              	上传中...<img src="web/images/de.gif" />
		                              </div>
                              <div class="tab_content" >
                               <table width="100%"  id="tab_a">
                               				<!--整个表格修改表头宽度即可，宽度修改示例：style="width:20%" 百分比自己调整。-->
                                       <tr>
                                          <th scope="col">文件名</th>
                                          <th scope="col">保存名称</th>
                                          <th scope="col">状态</th>
                                          <th scope="col">操作</th>
                                        </tr><!--宽度修改示例：style="width:20%" 百分比自己调整-->
                                      
                                    
                               </table>
							</div>
							 
                            </ul>
                      </div>
                      
        </div><!--页卡2-end--> 
        	<!--页卡3-->             
  			<div id="step-3">
            <div class="main_page2" > 		
                          	  <ul>
                     <input type="file" class="cre_input" id="uploadifyfile_icon1" name="uploadifyfile_icon1"  value="开始上传"/>
                     <script type="text/javascript" src="web/js/filesUpload/video.js"></script>
                               <div  id="video" style="width: 100px;height: 30px;margin-top: -30px;margin-left: 100px; display: none">
		                              	上传中...<img src="web/images/de.gif" />
		                              </div>
                              <div class="tab_content" >
                               <table width="100%"  id="tab_a" class ="tab_aV">
                               				<!--整个表格修改表头宽度即可，宽度修改示例：style="width:20%" 百分比自己调整。-->
                                       <tr>
                                          <th scope="col">文件名</th>
                                          <th scope="col">保存文件名</th>
                                          <th scope="col">状态</th>
                                          <th scope="col">操作</th>
                                        </tr><!--宽度修改示例：style="width:20%" 百分比自己调整-->
                               </table>
							</div>
							
                            </ul>
                      </div>
        </div><!--页卡3-end-->
        
        <!--页卡4-->
        <div id="step-4">
           <div class="main_page2" > 		
                          	  <ul>
		                     <input type="file" class="cre_input" id="uploadifyfile_icon2" name="uploadifyfile_icon2"  value="开始上传"/>
		                     <script type="text/javascript" src="web/js/filesUpload/img.js"></script>
		                              <div  id="img" style="width: 100px;height: 30px;margin-top: -30px;margin-left: 100px; display: none">
		                              	上传中...<img src="web/images/de.gif" />
		                              </div>
		                              <div class="tab_content " >
		                               <table width="100%"  id="tab_a" class ="tab_aI">
		                               				<!--整个表格修改表头宽度即可，宽度修改示例：style="width:20%" 百分比自己调整。-->
		                                       <tr>
		                                          <th scope="col">文件名</th>
		                                          <th scope="col">保存文件名</th>
		                                          <th scope="col">状态</th>
		                                          <th scope="col">操作</th>
		                                        </tr><!--宽度修改示例：style="width:20%" 百分比自己调整-->
		                               </table>
									</div>
									
                            </ul>
                      </div>
            </p>                			
        </div><!--页卡4-end-->
        
        <!--页卡5-->
        <div id="step-5">
           <div class="main_page2"> 		
                         <ul>
		                     <input type="file" class="cre_input" id="uploadifyfile_icon3" name="uploadifyfile_icon3"  value="开始上传"/>
		                     <script type="text/javascript" src="web/js/filesUpload/other.js"></script>
		                              <div  id="other" style="width: 100px;height: 30px;margin-top: -30px;margin-left: 100px; display: none">
		                              	上传中...<img src="web/images/de.gif" />
		                              </div>
		                              <div class="tab_content ">
		                               <table width="100%"  id="tab_a" class ="tab_aO">
		                               				<!--整个表格修改表头宽度即可，宽度修改示例：style="width:20%" 百分比自己调整。-->
		                                       <tr>
		                                          <th scope="col">文件名</th>
		                                          <th scope="col">保存名称</th>
		                                          <th scope="col">状态</th>
		                                          <th scope="col">操作</th>
		                                        </tr>
		                               </table>
									</div>
									
                            </ul>
                          <li class="tc mt20 mb40 w880 fl">
                                  <input class="cre_input" name="" type="submit" value="提交"/>
                          </li>
                      </div>
            </p>                			
        </div><!--页卡5-end-->
     </div><!--tab- end--> 	
      </form>    
    </div><!--主体结束-->
    <div class="clearfloat"></div>
   </div>
</body>
<script type="text/javascript">
$(document).ready(function(){
	$('#wizard1').smartWizard({transitionEffect:'fade',onFinish:onFinishCallback});
	
	$('#wizard2').smartWizard({transitionEffect:'slide',onFinish:onFinishCallback});
	function onFinishCallback(){
		//alert('Finish Called');
	}     
});
</script>
</html>
