<#include "../inc.html"/> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${system_info.name}</title>
<link rel="stylesheet" type="text/css" href="web/css/public.css" />
<link rel="stylesheet" type="text/css" href="web/css/seek.css" />
<script type="text/javascript" src="web/js/jquery-1.8.0.min.js"></script>
</head>

<body>
	<!--头部-->
	<#include "../top.html"/>
	<!--头部-->
    <!--主体-->
    <div class="main">
    	<!--搜索框-->
    	<#include "../search.html"/><!--搜索框结束-->
        <!--当前位置-->
        <div class="weizhi mt30 w ">
        	当前位置：<a href="center.do">首页</a>&gt;<span><a href="deputyPersonList.do">代表性传承人</a></span>
        	&gt;<span>
        	<@my.list id="data" hql="from DeputyPerson S WHERE S.deputyPersonId =${(deputyPersonId)!''}">
        	${(data.deputyPersonName)!''}
        	</@my.list>
        	</span>
        </div><!--当前位置END-->
         <!--内容主框架-->
        <div class="main_big">
        <!--左边内容-->
         <div class="mainbody_left">
        		<ul>
                	<li class="btit">传承人档案</li>
                    <#include "personInfoMenu.html"/>
                </ul>
        </div><!--左边内容END-->
        <!--右边内容-->
         <div class="mainbody_right">
         	<div class="right_title">视频资料</div>
         	<div class="right_icon">
            <#if USER.role =="manager">
            <a href="uploadVideo.do?deputyPersonId=${(deputyPersonId)!''}">上传</a>
            </#if>
            </div>
            <div class="right_content">
            	<div class="video_content">
            		<ul>
                    	<!--循环实例-->
                    	<#assign hql="from Files s where s.deputyPersonId =${(deputyPersonId)!''} and type='video' and businessType='personInfo'"  />      
              		<@my.pager id="page" hql="${hql}" size="${pageSize!13}" page="${pageNo!1}" />
			  		<#list (page.list)! as t>
                    	<li>
                        <a href="getVideoByPerson.do?fileId=${(t.fileId)!''}&deputyPersonId=${(deputyPersonId)!''}"><img width="170" height="140" src="web/images/video_img.png" /><b class="play"></b></a>
                        <p title="${(t.fileName)!''}">片名：<@html2Text html=t.fileName length="8"/></p>
                        <#if USER.role !="common">
                        <a>
                        <input type="button" onclick="location.href='download.do?filesId=${(t.fileId!'')}'" value="下载"/>
                        </a>
                        </#if>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <#if USER.role !="common">
                         <a>
                        <input type="button" onclick="if(confirm('确认删除吗？')){location.href='deleteFiles.do?filesId=${(t.fileId)!''}&type=video&deputyPersonId=${(deputyPersonId)!''}'}" value="删除"/>
                        </a>
                        </#if>
                        </li><!--循环实例END-->
                        </#list>    
                    </ul></div>
                       <!--分页-->
                     <#if page.list?size gt 0 > 
					<#import "../pager.html" as p>
					<@p.pager pager=page baseUrl="${contextPath}/getPersonVideo.do?pageNo=:pageNo&deputyPersonId=${(deputyPersonId)!''}&type=video"/>
	               	</#if> <!--分页END-->
            </div>
         </div><!--右边内容END-->
        </div> <!--内容主框架END-->
        <div class="clearfloat"></div>
    </div><!--主体结束-->
</body>
</html>
