<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${system_info.name}</title>
<link rel="stylesheet" type="text/css" href="../css/public.css" />
<link rel="stylesheet" type="text/css" href="../css/create_project.css" />
</head>

<body>
	<!--头部-->
	<div class="header">
    	<!--天气-->
    	<!--<div class="weather">成都 多云13°C-4°C 微风
        </div>--><!--天气-->
         <!--退出-->
    	<div class="exit"><a href="login.html">退出</a>
        </div><!--退出-->
        <!--用户-->
    	<div class="user"><span>当前用户：曾小贤（操作员）</span>
        		<a class="create_us" href="create_user.html">创建用户</a>
        </div><!--用户-->   
	</div><!--头部-->
    <!--主体-->
    <div class="main">
    	<!--搜索框-->
    	<div class="search_c mt50 w fldis">
        	<div class="fldis mr50">
        	<img src="../images/logo_2.png" /></div>
            <div class="fldis mt10">
            <input name="" type="text" style="width:610px; height:38px;font-size:14px;border:1px solid #800000; padding-left:10px; line-height:38px; float:left; display:block" />
             <input name="" type="button" style=" width:102px; height:40px; margin-left:10px; cursor:pointer;background:url(../images/sousuo.png) no-repeat; float:left; display:block" /></div>
        </div><!--搜索框结束-->
        <!--当前位置-->
           <div class="weizhi mt30 w ">
        	当前位置：<a href="home_page.html">首页</a>&gt;<span>新建项目</span>
        </div><!--当前位置-->
        <!--新建项目-->
        <div class="create tc f12">新建项目
        </div>
        <div class="mainbody mb100 tc w">
        	<div class="succeed">
            	<div class="su_cont">
                <span class="dft">出错了，新建项目失败！</span>
                <a href="create_project.html">继续创建</a>
                </div>
            </div>
        </div>
    	<div class="clearfloat"></div>
    </div><!--主体结束-->
</body>
</html>
