<@my.list id="t" hql="from PersonApply s where s.deputyPerson.deputyPersonId ='${(deputyPersonId)!''}' order by s.applyGard asc ">
        		<ul>
                	<li class="btit">
                	<#if t.applyGard =="01">
                	国家级
                	<#elseif t.applyGard =="02">
                	省级
                	<#elseif t.applyGard =="03">
                	市级
                	</#if>申报材料</li>
                    <!--选中状态需要给a标签加样式：a_chose-->
                    <li><a  href="getFilesBookByPerson.do?deputyPersonId=${(t.deputyPerson.deputyPersonId!'')}&applyGard=${(t.applyGard!'')}">申报书</a></li>
                    <li><a  href="getFilesVideoByPerson.do?deputyPersonId=${(t.deputyPerson.deputyPersonId!'')}&applyGard=${(t.applyGard!'')}">申报片</a></li>
                    <li><a href="getFilesImgByPerson.do?deputyPersonId=${(t.deputyPerson.deputyPersonId!'')}&applyGard=${(t.applyGard!'')}">照片</a></li>
                    <li><a href="getFilesOtherByPerson.do?deputyPersonId=${(t.deputyPerson.deputyPersonId!'')}&applyGard=${(t.applyGard!'')}">其他</a></li>
                </ul>
               </@my.list>